.sidebar-ads {
  img {
    margin: auto;
  }
}
.breadcum {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  line-height: 30px;
  margin-bottom: 25px;
  margin-top: 15px;

  & .title-main {
    font-size: 16px;
    line-height: 34px;
    font-weight: bold;
    color: #008837;
    border-bottom: 2px solid #008837;
    flex-shrink: 0;
  }

  & .list-bread {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-left: 28px;

    & ul {
      display: flex;
      overflow-x: hidden;
      scrollbar-color: rgba(143, 143, 143, 0.35) transparent;
      scrollbar-width: thin;
    }
    & ul li {
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      white-space: nowrap;
      color: rgba(112, 112, 112, 0.29);

      & a {
        padding: 0 8px;
        color: #8f8f8f;
        display: inline-block;
        &:hover,
        &:active {
          color: #008837;
        }
      }
      &:not(:last-child):after {
        content: "/";
        display: inline-block;
      }
    }
  }
}

.primary-cate {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  margin-bottom: 30px;

  & .primary-cate-large {
    grid-column: 1/3;
    grid-row: 1/3;
  }
}

.read-lot {
  background-color: #f9f9f9;
  padding: 10px;
  border-top: 3px solid #008837;
  margin-bottom: 25px;
  border-bottom: 1px solid #eee;
  max-width: 810px;


  &-heading {
    font-size: 16px;
    font-weight: 500;
    color: #6c6e70;
    margin-bottom: 15px;
    padding: 0 10px;
  }
  &-container {
    width: 100%;
  }
}

.read-lot-slide {
  & .slick-prev {
    left: 10px;
    z-index: 10;
    background: #fff;
    width: 35px;
    height: 71px;
    &:before {
      content: "\276E";
      color: #6c6e70;
    }
    &.slick-disabled {
      opacity: 0;
      visibility: hidden;
    }
  }
  & .slick-next {
    right: 10px;
    background: #fff;
    width: 35px;
    height: 71px;
    &:before {
      content: "\276F";
      color: #6c6e70;
    }
    &.slick-disabled {
      opacity: 0;
      visibility: hidden;
    }
  }

  .swiper-button-next, .swiper-button-prev {
    background: #fff;
    width: 35px;
    height: 71px;
    z-index: 10;
    &::after {
      color: #6c6e70;
      font-size: 16px;
    }
  }
  .swiper-button-next {
    right: 10px;
  }
  .swiper-button-prev {
    left: 10px;
  }
  .swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
  }
}
.read-lot-item {
  border: 1px solid #eee;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
}
.primary-cate {
  & .category {
    color: #008837;
    font: normal 13px/21px Roboto, sans-serif;
    margin-bottom: 12px;
  }
}
.separator-large {
  border-bottom: 8px solid #e9eaee;
}


.cate-boxnews-right {
  padding-left: 0;
}

.breadcum-mb {
  border-top: 1px solid #eee;
}

.danviet-tv {
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  position: relative;
  margin-bottom: 25px;

  & .title-top {
    display: flex;
    padding: 17px;
    background-color: #f3f3f3;
    align-items: center;
    border-radius: 5px 5px 0 0;
  }

  & .title-top i {
    margin-right: 10px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  & .title-top a {
    font-size: 16px;
    font-weight: bold;
  }

  & .boxbot-right-block {
    border: 1px solid #eee;
    max-height: 265px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    margin-bottom: 25px;
  }

  & .boxbot-right-container {
    max-width: 100%;
    padding: 12px 17px;
  }
  & .boxbot-right-item {
    display: flex;
    margin-bottom: 14px;
  }

  & .boxbot-right-img {
    width: 35%;
    flex-shrink: 0;
  }

  & .boxbot-right-title {
    flex: 1;
    margin-left: 11px;
  }

}

/**-------------------------------------------------*/
.title-top img {
  width: 100%;
}

.danviet-tv-mb .boxbot-right-content {
  padding-right: 11px;
  display: flex;
}
.danviet-tv-mb .boxbot-right-content .boxbot-right-number {
  color: #008837;
  margin-right: 5px;
}
.danviet-tv-mb .boxbot-right-content .boxbot-right-title {
  margin-left: 0;
}
.danviet-tv-mb .boxbot-right-content .boxbot-right-title,
.danviet-tv-mb .boxbot-right-content .boxbot-right-title a{
  font-weight: bold;
  color: #0a0a0a;
}

.video-form-dv .border-f0 {
  border: 1px solid #f0f0f0;
}
.video-form-dv .px-16 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.video-form-dv .py-10 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
.video-form-dv .bg-gray-f3 {
  background-color: #F3f3f3;
}
.video-form-dv .h-auto {
  height: auto;
}
.video-form-dv .w-full {
  width: 100%;
}
.video-form-dv .py-8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.video-form-dv .d-3xl-flex {
  display: flex;
}
.video-form-dv .over-hidden {
  overflow: hidden;
}
.video-form-dv .hover-show-video video {
  display: none;
}
.video-form-dv .flex-0 {
  flex-shrink: 0;
}

.video-form-dv .rounder-3xl-6 {
  border-radius: 6px;
}
.video-form-dv .w-40 {
  width: 40%;
}
.video-form-dv .ratio-16x9, .image-wrapper {
  position: relative;
  display: block;
  padding-bottom: 56.25%;
}
.video-form-dv .ratio-2x3 img, .video-form-dv .ratio-5x7 img, .video-form-dv .ratio-6x7 img, .video-form-dv .ratio-4x3 img, .video-form-dv .ratio-3x2 img, .video-form-dv .ratio-1x1 img, .video-form-dv .ratio-16x9 img, .video-form-dv .ratio-21x9 img, .video-form-dv .ratio-2x12 img, .video-form-dv .image-wrapper img, .video-form-dv .image-wrapper-full img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.video-form-dv .play-small {
  position: absolute;
  width: 26px;
  height: 16px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-form-dv .play-small img {
  width: 10px;
  height: auto;
}
.video-form-dv .flex-1 {
  flex: 1;
}
.video-form-dv .pl-8 {
  padding-left: 0.5rem;
}
.video-form-dv .lh-130 {
  line-height: 130%;
}
.video-form-dv .fw-600 {
  font-weight: 600;
}
.video-form-dv .text-gray-85 {
  color: #858585;
}
.video-form-dv .fs-13 {
  font-size: 0.8125rem;
}
.video-form-dv .fix-text3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 992px) {
  .video-form-dv .box-right-one__content .article-img {
    order: 2;
  }
  .video-form-dv .box-right-one__content .article-content {
      order: 1;
      padding: 0 12px 0 0;
  }
  .video-form-dv .box-right-one__content .article-title {
      color: #0a0a0a;
  }
}