.four-list {
  .four-item {
    &:nth-child(n+4){
      display: none;
    }
  }
}
.box-cmt-detail {
  padding-bottom: 20px;
  border-bottom: 2px solid #e9e9e9;
  .comment-box {
    padding: 10px 20px;
    background: #e9eaee
  }
  
  .comment-box .cmt-title {
    color: #222;
    font-size: 15px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: none;
    font-size: 16px;
    margin-bottom: 15px;
    text-transform: none;
  }
  
  .comment-account {
    color: #bbbebf;
    text-align: right;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: 0 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
  }
  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    background:transparent;
    color: #bbbebf;
    &:hover {
      color: #202124;
    }
}
.separator {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: 0 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  &:after {
    content: '|';
    display: inline-block;
    margin: 0 15px;
  }
  }

  textarea {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background: #fafafa;
    color: #333;
    font-size: 13px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    outline: 0;
    border: 1px solid #e1e1e1;
    margin: 0 0 16px;
    height: 130px;
  }
  .btncmtsend {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .customfile.fileupload {
    display: inline-block;
    margin-right: 10px;
  }
  .form-comment p {
    float: left;
    color: #acacac;
    font-size: 11px;
    font-style: italic;
    margin: 0;
    padding: 10px 0 0 10px;
  }
  .clearfix {
    display: block;

    &::after{
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
  }
  .item-file {
    display: none;
    text-align: center;
    position: absolute;
    left: -18px;
    top: 8px;
  }
  .postrlt .fr {
    position: relative;
    float: right;
  }
  .uploadFileDetail {
    position: relative;
    cursor: pointer;
  }
  .ffile {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
  }
 

  .form-comment .button {
    color: #ccc;
    font-size: 11px;
    font-family: Roboto;
    font-weight: 700;
    text-transform: uppercase;
    background: #222;
    border: none;
    cursor: pointer;
    line-height: 29px;
    display: inline-block;
    position: relative;
    top: -4px;
    width: 95px;
    height: 25px;
    border-radius: 2px;
    background-color: #80868b;
    text-align: center;
  }
}
.detail-main {
  & .line-datetime {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    .icon {
      margin-right: 2px;
    }
    & > span {
      font-size: 12px;
      color: #6c6e70;
      & i {
        margin-bottom: -1px;
      }
    }
    & > span.anots {
      padding-right: 23px;
      position: relative;
      font-weight: 700;
      color: #222;
      font-size: 14px;
      &:before {
        content: "";
        width: 1px;
        position: absolute;
        background: #ccc;
        top: 3px;
        bottom: 3px;
        right: 11px;
      }
    }

    .line-share__right {
      display: none;
    }
  }

  & [data-role="sapo"] {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: #6c6e70;
    margin-bottom: 15px;
  }

  & .line-share {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;

    &__left {
      display: flex;
    }

    &__right {
      display: flex;
      align-items: center;
    } 
    
    .follow-page__link {
      display: flex;
      align-items: center;
      margin-right: 5px;
      .text {
        font-size: 14px;
        font-family: "Roboto";
      }
  
      .icon {
        width: 90px;
        height: auto;
      }
    }
    
    & .btn-cmt {
      display: flex;
      align-items: center;
      border-radius: 3px;
      background: #8b9ba7;
      height: 20px;
      color: #fff;
      font: normal 12px/20px Arial;
      padding: 0 7px;
      margin-left: 5px;
      cursor: pointer;

      & svg {
        display: inline-block;
        margin-right: 3px;
        margin-bottom: -0.5px;
      }
      & .numcountcmt {
        padding-left: 5px;
        margin-left: 2.5px;
        border-left: thin solid #bbb;
      }
    }
    & .mail {
      height: 20px;
      & .share-mail {
        display: inline-block;
        background: url("../images/danviet_sprite.webp") no-repeat -289px -171px;
        background-size: 580px 564px;
        width: 24px;
        height: 19px;
        border-radius: 3px;
      }
    }
  }

  & .related-news {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    font-family: "Roboto", Arial, Helvetica, sans-serif;

    & li {
      color: #202124;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 500;
      display: flex;
      &:before {
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 50%;
        flex-shrink: 0;
        margin-top: 5px;
        margin-right: 10px;
        background: #008837;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.anots svg {
  margin-right: 3px;
}
.btn-sizep {
  margin-left: auto;
  & span {
    font-weight: 700;
    color: #6c6e70;
    padding: 3px 14px;
    background: #ebebeb;
    border-radius: 4px;
    cursor: pointer;
  }
}
.sapo {
  font-size: 13px;
  color: #6c6e70;
}
.sticky-ele {
  display: none;

  &.sticking {
    display: flex;
    position: fixed;
    top: 50%;
    flex-direction: column;
    width: 40px;
    margin-left: -50px;
  }
  & .btn-share {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddd;
    &.print {
      .icon {
        width: 24px;
        height: auto;
      }
    }
    &.cmt {
      cursor: pointer;
      .icon {
        width: 18px;
        height: auto;
      }
    }
    &.fb {
      background: #234183;
      .icon {
        width: 16px;
        height: auto;
      }
    }
    &.tw {
      background: #55acee;
      .icon {
        width: 16px;
        height: auto;
      }
    }
    &.zl {
      background: #027ec9;
      .icon {
        width: 16px;
        height: auto;
      }
    }
  }
}
.size-text-detail {
  border: 1px solid #ebebeb;
    border-radius: 8px;
    text-align: center;
    padding: 8px 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    .size-plus,
    .size-default {
      flex-shrink: 0;
      display: inline-block;
      width: 24px;
      height: 24px;
      border: 1px solid #ebebeb;
      border-radius: 999px;
      text-align: center;
    }
    
}
.dt-content,
.timeline-content {
  text-align: justify;
  .plusSize {
    p {
      font-size: inherit;
    }
  }
  p {
    font-size: 17px;
    line-height: 29px;
    font-family: "Noto Serif", serif;
    word-break: break-word;
    margin-bottom: 15px;

    a {
      color: #3367d6;
    }
  }

  & blockquote {
    background: rgb(255, 251, 242);
    border:1px solid rgb(242, 209, 170);
    margin-bottom: 20px;
    padding: 10px;

    & p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}
}
.entry-body {
  font-size: 17px;
  line-height: 29px;
  font-family: "Noto Serif", serif;
  word-break: break-word;
  a {
    color: #3367d6;
  }
}
.entry-body h2 {
  font-size: 1.5em;
}
.entry-body h2,
.entry-body h3,
.entry-body h4,
.entry-body h5,
.entry-body h6 {
  margin: 10px 0 15px;
  font-weight: bold;
  font-size: inherit;
}
.entry-body p {
  margin-bottom: 15px;
}
 figure {
  margin-bottom: 15px;

}

.dt-content figure figcaption {
  display: block;
  padding: 10px;
  text-align: center;
  font-family: "arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #666;
  background-color: #f2f2f2;
  max-width: 100%;
  line-height: 18px;
  & .expEdit {
    font-weight: normal;
    margin: 0;
  }
}
.box-related {
  overflow: hidden;
  margin-bottom: 15px;

  &__title {
    padding-left: 10px;
    display: block;
    font-size: 12px;
    color: #666;
    text-align: left;
    font-family: Arial;
    height: 30px;
    line-height: 28px;
  }
  &-item {
    display: flex;
    border: 1px solid #e3e3e3;
    border-left: 1px solid #fc915c;
    margin-bottom: 10px;
    
    & .box-related-img {
      width: 20%;
      flex-shrink: 0;
      order: 2;
    }
    & .box-related-content {
      flex: 1;
      padding: 10px;
      order: 1;
    }
  }
}
.advertisement-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.advertisement-heading {
  border-bottom: 1px solid #eee;
}
.advertisement-textqc--italic {
  display: inline-block;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #bbbbbb;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.share-other {
  padding: 10px;
  border-radius: 2px;
  background-color: #f3f3f3;
  margin: 25px 0;
  & .share-items {
    display: flex;
    align-items: flex-start;
    height: 20px;
    & .fb-share-button,
    & .fb-like {
      margin-right: 5px;
    }
  }
  & .share-items [class*="itemshare-"] {
    width: 20px;
    height: 20px;
    background-image: url("../images/sprite-socials.webp");
    background-repeat: no-repeat;
    background-size: 62px;
    margin-right: 5px;
  }
  & .itemshare-twitter {
    background-position: -21px 0;
  }
  & .itemshare-linked {
    background-position: -42px 0;
  }
}
.tags {
  font-size: 12px;
  margin-bottom: 25px;
  & > ul {
    display: flex;
    flex-wrap: wrap;
    & li {
      margin-right: 8px;
      margin-bottom: 8px;

      & a {
        display: block;
        padding: 5px 12px;
        border-radius: 12px;
        background-color: #f3f3f3;
        color: #80868b;
      }
    }
  }
}
.box-dvdesc {
  border-radius: 5px;
  background-color: #80868b;
  padding: 18px 20px;
  display: flex;
  color: #fff;
  & .text {
    padding-right: 50px;
    font-size: 14px;
  }
  & .fb-page {
    width: 180px;
  }
}
.box-cmt {
  margin: 20px 0;
  border-bottom: 3px solid #eee;
}
.box-samecat {
  & .sc-heading {
    text-transform: capitalize;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
  }
}
.date-select {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  color: #6c6e70;
  margin-left: auto;

  & select {
    border: thin solid #eee;
    background: #eee;
    border-radius: 2px;
    color: #202124;
    padding: 5px;
    margin-right: 10px;
    font: 500 13px Roboto;

    &:first-child {
      margin-left: 12px;
    }
  }

  & .linkcate {
    width: 53px;
    height: 28px;
    border-radius: 2px;
    background-color: #6c6e70;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
  }
}
.read-other-heading {
  text-transform: capitalize;
  border-top: 3px solid #eee;
  border-bottom: 1px solid #eee;
}
.header_detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 8px 20px;
  background: #fff;
  z-index: 9999;
  border-bottom: thin solid #008837;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transition-duration: 350ms;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  will-change: transform;

  &.add_sticky {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  & ul li {
    float: left;
  }
  & .kc-facebook .icon-kcf {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #3b4f87;
    position: relative;
    display: inline-block;
    margin-left: 12px;
  }
  & .comment_icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #c4c4c4;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;

  
  }
}
.zl-share {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-left: 12px;
  overflow: hidden;
  position: relative;
}
.zb-btn-blue--30x30 .zb-logo-zalo {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.15em;
  width: 20px;
  height: 20px;
  background: url("../images/logo_white_s_30.png");
  background-size: 20px 20px;
}
.kc-facebook .icon-kcf:before {
  background: url("../images/icon-facebook-nav.webp") center center no-repeat;
  background-size: 8px 14px;
  width: 8px;
  height: 14px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -4px;
  content: "";
  top: 50%;
  margin-top: -7px;
}
.zl-share .zalo-share-button {
  position: absolute;
  left: -3px;
  top: -2px;
}
.kc-item.kc-facebook {
  height: 24px;
}
.header_detail__left,
.header_detail__right {
  display: flex;
  align-items: center;
}
.icon-w-10 {
  width: 10px;
  height: auto;
}
.icon-w-12 {
  width: 12px;
  height: auto;
}
.icon-w-13 {
  width: 13px;
  height: auto;
}

// radio
.radio-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #f1f3f4;
  padding: 10px 15px;
  border-radius: 10px;

  .radio-long {
    width: 100%;
}
.radio-play {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #008837;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:not(.active) {
        .radio-pause {
            display: none;
        }
    }
    &.active {
        .radio-player {
            display: none;
        }
    }
}
.radio-volum {
    &__action {
        padding-right: 0.125rem;
        &:not(.active) {
            .radio-volum--xmark {
                display: none;
            }
        }
        &.active {
            .radio-volum--high {
                display: none;
            }
        }
    }
    &__icon {
        width: 1.5rem;
    }
}
.radio-reload-prev,
.radio-reload-next,
.radio-volum__icon {
    cursor: pointer;
}
.radio-reload-prev:hover,
.radio-reload-next:hover,
.radio-volum__icon:hover,
.radio-play:hover {
    opacity: 0.7;
    transition: 0.3s;
}
.radio-reload-prev img,
.radio-reload-next img {
    height: 1.625rem;
    width: auto;
}
input[type="range"] {
    margin: auto;
    outline: none;
    padding: 0;
    width: 100%;
    height: 2px;
    background-color: #bdbdbd;
    background-image: -webkit-gradient(
        linear,
        50% 0%,
        50% 100%,
        color-stop(0%, #00942c),
        color-stop(100%, #00942c)
    );
    background-image: -webkit-linear-gradient(#00942c, #00942c);
    background-image: -moz-linear-gradient(#00942c, #00942c);
    background-image: -o-linear-gradient(#00942c, #00942c);
    background-image: linear-gradient(#00942c, #00942c);
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}

input[type="range"]::-moz-range-track {
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type="range"]::-moz-focus-outer {
    border: 0;
}

input[type="range"]::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #00942c;
    border-radius: 100%;
    -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #00942c;
    border-radius: 100%;
    -webkit-appearance: none;
}

}
.radio-reload {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.radio-time-range{
  display: flex;
  align-items: center;
  flex: 1;
}

.radio-box__download {
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    width: 20px;
    height: auto;
    margin-right: 4px;
  }

  .text {
    font-size: 17px;
    color: #008837;
    font-family: "Noto Serif", sans-serif;
  }
}

// print
.w-980 {
  max-width: 980px;
  margin: auto;
}
.print-box {
  .detail-content {
      padding-left: 0;

      p {
          word-break: break-word;
      }
  }
  .print-btn {
      cursor: pointer;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 38px;
      height: 38px;
      background-color: #9b9b9b;
      margin-left: auto;

      &:hover {
          background-color: #555;
      }
  }

  .author {
    text-align: right;
    margin: 20px 0;
  }
}
.logo-print {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
      width: 230px;
      height: auto;
  }
}

@media print {
  body, html {
      width: 100%;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  body {
      margin-left: 20mm;
      visibility: hidden;
  }
  .print-box__container {
      visibility: visible;
      -webkit-print-color-adjust: exact;
      color-adjust: exact;
      width: calc(100% - 20mm);
      max-width: 100%;
      page-break-inside: avoid;
      overflow: visible;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  .print-btn {
      display: none;
      opacity: 0;
      visibility: hidden;
  }
  .detail-content {
      width: 100%;
      margin: 0;
      padding: 0;
  }
  .detail-content, .expNoEdit, .expEdit {
      page-break-inside: avoid;
  }
  h1, h2, p, figure {
      page-break-inside: avoid;
  }

}


.live-score {
  &__heading {
    font-size: 17px;
    font-weight: bold;
    margin: 10px 0 15px;
  }

  &__author {
    font-size: 12px;
    font-weight: bold;
    text-align: right;
  }

  .box-match {
    margin-top: 35px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f4f4f4;
    padding: 20px;

    &__status {
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
    }

    &__group {
      margin-top: 20px;
    }

    &__team {
      width: 30%;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__flag {
      img {
        width: 100px;
        height: auto;
      }
    }

    &__name {
      margin-top: 8px;
      font-size: 17px;
      font-weight: bold;
    }

    .score-now {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;

      .score-a,
      .score-b,
      .hyphen {
        font-size: 50px;
      }
    }

    &__stadium {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 14px;
    }
    &__referee {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 14px;
      margin-top: 2px;
    }
  }

  .match-action {
     margin-top: 40px;

     &__top {
      margin-bottom: 2px;
      &-title {
        font-size: 20px;
        color: #008837;
        font-weight: 500;
        text-transform: uppercase;
        flex-shrink: 0;
      }

      &-list {
        flex: 1;
        font-size: 15px;
        color: #555;
        justify-content: flex-end;

        .refresh,
        .latest,
        .shorten {
          padding: 0 10px;
          height: 40px;
          border: 1px solid #ccc;
          border-radius: 5px 5px 0 0;
          border-bottom: none;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &:hover {
            border-color: #777;
          }
        }

        .latest {
          margin: 0 10px;
        }
      }
     }
     .timeline-container {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding-bottom: 2px;
      margin-bottom: 20px;
     }

     .timeline-item {
      padding: 10px;
      width: 100%;
      border-bottom: 1px solid #ccc;
      background-color: #fff;

      &:nth-child(odd) {
        background-color: #f7f7f7;
      }

    }

    .time-left {
      display: flex;
      .time {
        width: 50px;
        font-size: 19px;
        font-weight: bold;
        text-align: center;
      }

      .icon {
        padding-top: 5px;
        img {
          width: 18px;
          height: auto;
        }
      }
    }
    .time-right {
      padding-left: 15px;

      &.action {
        .timeline-content {
          display: block;
        }
        .time-right__top-action .icon {
          transform: rotate(180deg);
        }
      }

      &__top {
        margin-bottom: 3px;

        &-title {
          font-size: 18px;
          font-weight: 500;
        }

        &-action {
          font-size: 13px;
          color: #a4a4a4;
          display: flex;
          align-items: center;
          cursor: pointer;

          .icon {
            flex-shrink: 0;
            
            margin-left: 2px;
            img {
              width: 12px;
              height: auto;
            }
          }
        }
      }
    }

     .timeline-content {
       font-family: 'Roboto';
       display: none;

      p {
        font-family: 'Roboto';
        font-size: 18px;
      }
     }
  }

  .match-action-mb {
    margin-top: 30px;

    .refresh-btn {
      width: 48%;
      color: #ffffff;
      font-size: 16px;
      border-radius: 5px;
      background-color: #c62127;
      border: solid 2px #c62127;
      text-align: center;
      padding: 4px;

      .text {
        font-weight: bold;
      }

      .icon {
        margin-left: 8px;
        img {
          width: 16px;
          height: auto;
        }
      }
    }

    .sort-all {
      color: #959595;
      font-size: 16px;
      border-radius: 5px;
      border: solid 1px #e6e6e6;
      background-color: #ffffff;
      width: 48%;
      text-align: center;
      padding: 4px;

      .text {
        font-weight: bold;
      }

      .icon {
        margin-left: 8px;
        img {
          width: 16px;
          height: auto;
        }
      }
    }

    .timeline-container {
      margin-top: 30px;
    }

    .timeline-item {
      border: 1px solid #e6e6e6;
      border-radius: 3px;
      width: 100%;
      margin-top: 40px;
      padding-bottom: 10px;

      &__top {
        display: flex;
        align-items: center;

        &-text {
          flex-shrink: 0;
          color: #fff;
          background-color: #c62127;
          font-size: 16px;
          padding: 4px 10px;
          border-radius: 3px;
          display: inline-block;
          font-weight: 500;
        }

        &-icon {
          margin-left: 8px;
          img {
            width: 18px;
            height: auto;
          }
        }
      }

      .timeline-content {
        padding: 10px;
      }
    }

  }
}

figure + figure {
  margin-top: 20px;
}

.boxsamethread {
  margin: 20px 0;
  padding: 0 20px 30px;
  border: solid 1px #e1e4ed;
  border-radius: 3px;
  position: relative;
  background-color: #fbfcff;

  .titlebox {
    display: inline-block;
    border-bottom: solid 1px #c90000;
    margin-bottom: 24px;
    font: normal 15px/21px RobotoBold;
    color: #979ba7;
    text-transform: uppercase;
    padding: 20px 4px 6px 0;
  }
  .titlebox span {
    color: #000;
  }
  .lts-news {
    padding-left: 20px;
    border-left: solid 1px #d2d2d2;
  }
  .lts-item {
    position: relative;
    top: -2px;
    margin-bottom: 15px;
    line-height: 18px;
  }
  .lts-item:before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #d2d2d2;
    border-radius: 50%;
    left: -23px;
    display: inline-block;
    position: absolute;
    top: 1px;
  }
  .lts-item a {
    color: #2a4a84;
    font-size: 13px;
  }

  .viewall {
    font: normal 11px Arial;
    color: #959595;
    position: absolute;
    bottom: 10px;
    right: 20px;
  }
  
}

.action-meeting {
  &-pc {
    .time-right {
      padding-left: 0 !important;
    }
    .time-right__top-title {
      font-size: 14px !important;
      color: #c62127;
      font-weight: bold !important;
    }

    .note {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 7px;
      color: #118b81;
    }

    .timeline-content p {
      font-size: 16px !important;
    }
  }

  &-mb {
    .timeline-item__top-text {
      background-color: transparent !important;
      color: #202124 !important;
      font-size: 14px !important;
      font-weight: normal !important;
    }

    .note {
      font-size: 16px;
      font-weight: bold;
      font-family: 'Arial';
      margin: 8px 0;
      padding: 0 10px;
      line-height: 1.7;
    }

    .timeline-content p {
      font-family: 'Arial' !important;
    }
  }
}