.ema-header-pc {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

  & .ema-header-pc-heading {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-family: "Century",sans-serif;
    text-transform: capitalize;
  }
  & .ema-likeshare {
    position: absolute;
    right: 70px;
    top: 14px;
  }
}
.ema-mb-heading {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-family: "Century",sans-serif;
  text-transform: capitalize;
}
.photo-story-mb-heading {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-family: "Roboto";
  text-transform: capitalize;
}
.ema-share-heading {
  color: #fff;
  font: normal 12px/21px Roboto;
  & svg {
    margin-bottom: -2px;
  }
}
.ema-wrapper {
  background: #fff;
  font-family: "Noto Serif", serif;
  padding-bottom: 2rem;
}
.ema-container .public,
.ema-container p,
.ema-container h1,
.ema-container h2,
.ema-container h3,
.ema-container h4,
.ema-container h5,
.ema-container h6 {
  max-width: 650px;
  margin: auto;
}
.ema-container p {
  font-size: 17px;
  line-height: 1.8;
  margin-bottom: 15px;
  color: #202124;
}
.ema-container p strong,
.ema-container p b {
  font-weight: bold;
}
.ema-container p em {
  font-style: italic;
}
.ema-container figure.expNoEdit {
  margin-bottom: 1rem !important;
}
.ema-container figure.expNoEdit.small {
  max-width: 980px;
  margin: auto;
  clear: both;
}
.ema-container figure.expNoEdit.right {
  float: right;
  width: auto !important;
  margin-left: 40px !important;
  text-align: right;
  max-width: 400px;
}
.ema-container figure.expNoEdit.left {
  float: left;
  width: auto !important;
  margin-right: 40px !important;
  text-align: left;
  max-width: 400px;
}
.ema-container figure.expNoEdit img {
  margin: auto;
}

.ema-likeshare {
  &--display {
    display: flex;
    align-items: center;

    background: #1877f2;
    color: #fff;
    padding: 0 8px;
    border-radius: 3px;
    height: 20px;

    &:hover {
      background: #1466d1;
    }
  }
  .icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;

    img {
      width: 6px;
      height: auto;
    }
  }

  .text {
    color: #fff;
    font-size: 10px;
  }
}

.society-and-life-author-primary {
  margin-bottom: 30px;
  &__container {
    overflow: hidden;
  }
  &__bg {
    img {
      height: max(100vh, 800px);
      width: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1570px;
    padding: 20px;
    margin: auto;
    width: 100%;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    color: #fff;
  }

  &__left {
    width: auto;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;

    .title-1 {
      color: #fff;
      line-height: 1.4;
      font-size: 38px;
      font-weight: 700;
      font-family: "Merriweather", serif;
      margin-bottom: 10px;
    }
    .title-2 {
      font-size: 18px;
      margin-bottom: 10px;
      text-transform: uppercase;
      line-height: 1.4;
      font-weight: 700;
    }
  }

  .social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border: 1px solid #fff;
      margin-right: 15px;

      img {
        width: auto;
        height: 18px;
      }
    }
  }

  &__right {
    width: 350px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;

    .title-3 {
      font-family: "Roboto";
        font-size: 24px;
        padding-top: 0;
        border-top: none;
        color: #ffc107;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        position: relative;
        margin-bottom: 40px;
        padding-bottom: 30px;
        z-index: 1;

        &::after {
          content: "";
          position: absolute;
          z-index: 2;
          left: 0;
          bottom: 0;
          height: 15px;
          width: 100%;
          background-position: center center;
          background-repeat: no-repeat;
          background-image: url('../images/svg/topic-box-title.svg');
        }
    }
  }

  .sapo {
    color: #fff;
    font-family: "Merriweather", serif;
    line-height: 1.618;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 1200px;
    min-height: 30px;
  }
}
.header-society-and-life-author-mb {
  .header-talk-mb {
    height: 52px;
  }
  .ema-mb-heading {
    font-size: 15px;
  }

  #search-form-mb {
    top: 52px;
    background: #202124;
  }
}

.title-lien-quan {
  font-family: "Roboto";
  font-size: 24px;
  padding-top: 0;
  border-top: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  margin-bottom: 60px;

  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: -20px;
    height: 15px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../images/svg/topic-box-title.svg');
}
}

.photo-story-info {
  &-wrap {
    position: relative;
  }
  &-content {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-44.62%, hsla(0, 0%, 100%, 0)), color-stop(56.31%, hsla(0, 0%, 100%, .9)));
      background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) -44.62%, hsla(0, 0%, 100%, .9) 56.31%);
      bottom: 20px;
      padding-bottom: 15px;
      padding-top: 15px;
      -webkit-transition: all .3s;
      transition: all .3s;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
  }

  &-top {
    
  }

    &__author {
      color: #2a2a2a;
      font-family: NotoSerif-Bold;
      font-size: 15px;
      line-height: 15px;
      -webkit-text-decoration: none;
      text-decoration: none;
      padding: 0;
      margin: 0;
      font-weight: 600;
    }

    &__img {
      img {
        height: 33px;
        width: auto;
      }
    }

    &__right {
      font-size: 14px;
      font-family: 'Arial';
    }

    &__cate {
      position: relative;
      font-weight: bold;
      &::after {
        content: "|";
        display: inline-block;
        font-weight: 400;
        margin-left: 20px;
        margin-right: 20px;
      }
    }
}