#back-top {
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  background: #23533f;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  user-select: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  & .icon {
    width: 16px;
    height: auto;
  }
}
.title {
  display: block;
}
.footer {
  color: #6c6e70;
  font-size: 12px;
  background-color: #f9f9f9;
  margin-top: 25px;

  & .footer-top {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    height: 95px;

    & .list-btn {
      display: flex;
      margin-left: auto;

      & .item {
        margin-right: 25px;
      }
      & .item > a {
        background: #6c6e70;
        border-radius: 2px;
        height: 30px;
        width: 95px;
        text-align: center;
        padding: 6px 0;
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
      }
    }
  }

  & .footer-menu {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    margin-bottom: 30px;

    & .item {
      width: calc(100% / 6);
      margin-bottom: 20px;
    }

    & .item > a {
      margin-bottom: 10px;
      font-weight: 500;
      color: #202124;
      font-size: 15px;
    }

    & .item > ul li {
      margin-bottom: 5px;
    }
  }

  & .footer-info {
    display: flex;
    margin-bottom: 15px;

    & .info {
      width: 50%;
    }

    & .info > div {
      margin-bottom: 5px;
    }
    & .bold {
      font-weight: bold;
    }
    & .info.info-right .title {
      position: relative;
      padding-bottom: 10px;
      margin-bottom: 15px;
      color: #202124;

      &:after {
        content: "";
        height: 1px;
        width: 70px;
        background-color: #202124;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }

  & .footer-copyright {
    display: flex;
    padding: 15px 0;
    border-top: 1px solid #eee;

    & .tinnhiemmang {
      margin-right: 20px;
    }
    & span {
      display: block;
    }
    & > ul {
      display: flex;
      margin-left: auto;
    }
    & > ul > li {
      margin-right: 10px;
    }
  }

  & .footer-logo {
    .logo-mb {
      width: 120px;
      height: auto;
    }
  }
}
#bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px;
  -webkit-box-shadow: 0 -5px 6px rgb(0 0 0 / 5%);
  box-shadow: 0 -5px 6px rgb(0 0 0 / 5%);
  background-color: #fff;
  line-height: 56px;
  text-align: center;
  z-index: 9999;
  align-items: center;
  justify-content: center;
  &.hide {
    display: none;
  }
  & li {
    width: 20%;
    display: inline-block;
    font: normal 13px RobotoMedium, sans-serif;
    color: #6c6e70;
    margin-top: 8px;

    & svg,.svg {
      width: 20px;
      max-height: 20px;
      height: auto;

      & path {
        fill: #6c6e70;
      }
    }
    .svg {
      margin: auto;
      transform: translateY(-6px);
    }
    & .text {
      display: block;
      color: #6c6e70;
      font: normal 11px RobotoMedium, sans-serif;
    }
  }
  & li:not(:last-child) {
    margin-right: 1.5%;
  }
  & li.active {
    color: #008837;

    & .text {
      color: #008837;
    }
  }
}
